<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field">
            <label> Mobile Number </label>
            <input type="number"
                    name="mobileNumber"
                    ng-model="user.profile.number" required>
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> School </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> College </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="College" name="school" ng-model="user.profile.school" required>
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label> Course </label>
          <input type="text"
                 name="course"
                 ng-model="user.profile.course" required>
        </div>

        <div class="field">
          <label>Graduation Year</label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="">Graduation Year</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
          </select>
        </div>

        <div class="field">
          <label>Gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

        <div class="field">
          <label>I would describe myself as a...</label>
          <input type="text"
                 placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                 ng-model="user.profile.description">
        </div>

        <div class="field">
            <label> Number of Hackathons Attended </label>
            <input type="number"
                    name="noOfHacks"
                    ng-model="user.profile.noOfHacks" required>
        </div>

        <div class="field">
            <label> Number of Hackathons Won </label>
            <input type="number"
                    name="noOfHacksWon"
                    ng-model="user.profile.noOfHacksWon" required>
        </div>

        <div class="field">
            <label> Github </label>
            <input type="url"
                    name="github"
                    ng-model="user.profile.github" required>
        </div>

        <div class="field">
            <label> LinkedIn </label>
            <input type="url"
                    name="linkedin"
                    ng-model="user.profile.linkedin" required>
        </div>

        <div class="field">
            <label> Resume URL </label>
            <input type="url"
                    name="resume"
                    ng-model="user.profile.resume" required>
        </div>

        <div class="field">
            <label> Behance/Dribble </label>
            <input type="url"
                    name="designLink"
                    ng-model="user.profile.designLink">
        </div>

        <div class="field">
            <label> Refered By (if any) </label>
            <input type="text"
                    name="reference"
                    ng-model="user.profile.reference">
        </div>

        <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="previousYear" ng-model="user.profile.previousYear">
              <label>Have you attended last year's HackVSIT</label>
            </div>
        </div>

        <div class="field">
          <label>
              What would you like to learn or get out of HackVSIT? (optional)
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>

        <div class="field"
             ng-hide="isMitStudent">
          <p>
            Because of limitations imposed by MIT, we are not legally allowed to host
            non-MIT minors (those under 18) for HackVSIT 2019. Checking the box below affirms that you are or will be 18 years or older by September 19th, 2015.
          </p>
          <p>
            <strong>
            We will be checking ID. If you are a non-MIT minor, you will be turned away at the door.
            </strong>
          </p>
          <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.profile.adult">
            <label for="adult">I am 18 or older.</label>
          </div>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
